.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-die {
  background-color: rgb(192, 196, 196);
  width: 500px;
  display: flex;
  justify-content: space-around;
}
